@import url("variables.css");
@import url("utilities.css");
@import url("clock.css");
@import url("text-colors.css");
@import url("tooltips.css");

/**
 * Quiz 
 * ============================================================ */
.quiz {
	font-family: "GT Planar";
	font-weight: 300;
	color: var(--color-navy);
}

.quiz strong {
	font-weight: 500;
}

.quiz .error p {
	margin: 10px 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 13.8px;
	letter-spacing: 0.05em;
	color: var(--color-error);
}

.quiz__container {
	min-height: 100vh;
}

.quiz__layout {
}

.quiz__layout--start .quiz__header {
	min-height: 420px;
	background: var(--color-navy);
}

.quiz__layout--results .quiz__header {
	min-height: 300px;
	background: var(--color-navy);
}

.quiz__layout--start .quiz__header > *,
.quiz__layout--results .quiz__header > * {
	color: var(--color-purple-light);
}

.quiz__layout--start .quiz__header .headline,
.quiz__layout--results .quiz__header .headline {
	color: var(--color-white);
}

.quiz__header {
	padding: 36px 16px 20px 16px;
}

.quiz__header .headline {
	font-size: 32px;
	font-weight: 500;
	line-height: 36.8px;
	margin: 0;
}

.quiz__header p {
	font-size: 28px;
	font-weight: 300;
	line-height: 32.2px;
	margin: 10px 0;
}

.quiz__body {
	display: block;
}

.quiz__summary {
	margin: 20px 16px;
}

.quiz__summary .buttons {
	margin-top: 36px;
}

.quiz__progress {
	padding: 0 16px;
	min-height: 72px;
	text-transform: uppercase;
}

.quiz__progress-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 12px;
	line-height: 13.8px;
	letter-spacing: 0.07em;
}

.quiz__progress-text__inner {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.quiz__progress-bar {
	position: relative;
	width: 182px;
	height: 6px;
	background-color: var(--color-white);
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

.quiz__progress-bar__fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: red;
}

.quiz__card-wrap {
	padding: 0 16px;
}

.quiz__card {
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
	margin: 24px 0;
	padding: 16px;
}

.quiz__card .question {
	font-size: 18px;
	font-weight: 300;
	line-height: 25.2px;
	margin: 0 0 24px 0;
}

.quiz__card .quiz__card__headline {
	position: relative;
	margin: 0 0 24px 0;
}

.quiz__card .quiz__card__headline .headline {
	display: inline;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
}

.quiz__card .quiz__card__headline svg {
	display: block;
	width: 100%;
	height: 100%;
}

.quiz__card .quiz__card__headline button.info-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: none;
}

.quiz__card .quiz__card__headline button.info-button svg {
	width: 15px;
	height: 15px;
}

.quiz__card .quiz__card__headline button.info-button ~ .blurb-wrap {
	display: none;
	position: absolute;
	min-width: 50%;
	max-width: 100%;
	width: 320px;
	top: calc(100% + 7px);
	right: 0;
	background-color: var(--color-white);
	border: 1px solid var(--color-navy);
}

.quiz__card .quiz__card__headline button.info-button:hover ~ .blurb-wrap,
.quiz__card .quiz__card__headline button.info-button:focus ~ .blurb-wrap {
	display: block;
	padding: 16px 32px 16px 16px;
}

.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 16px;
	right: 16px;
}

.quiz__card .quiz__card__headline .blurb {
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 19.6px;
}

.option-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 24px;
}

.option-group .option {
	display: flex;
	align-items: center;
	gap: 8px;
}

.option-group .option label {
	font-size: 18px;
	font-weight: 300;
	line-height: 25.2px;
	margin: 0;
}

.option-group .option input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-navy);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.option-group .option input[type="radio"]:checked {
	background-color: var(--color-navy);
	box-shadow: inset 0 0 0 4px var(--color-white);
}

.quiz__buttons {
	display: flex;
	gap: 10px;
}

.quiz__button {
	padding: 9px 12px;
	background: var(--color-white);
	border: 1px solid var(--color-navy);
	font-family: "GT Alpina Typewriter";
	font-size: 14px;
	font-weight: 400;
	line-height: 16.02px;
}

.quiz__results-graphic-summary {
	margin: 20px 16px;
	padding: 16px;
	overflow: hidden;
	border: 1px solid var(--color-navy);
}

.results-summary {
	margin: 20px 0 0 0;
}

.results-summary .eyebrow {
	font-size: 12px;
	font-weight: 500;
	line-height: 13.73px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: var(--color-purple);
}

.results-summary h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 25.2px;
	margin-top: 0;
}

.results-summary p {
	font-size: 14px;
	font-weight: 300;
	line-height: 19.6px;
}

.results-summary .button .button__arrow-left {
	width: 12px;
	height: 20px;
	background-image: url("../images/icons/arrow-left.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.results-summary .button .button__arrow-right {
	width: 12px;
	height: 20px;
	background-image: url("../images/icons/arrow-right.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.quiz__results-tabs {
	margin: 24px 0 0 0;
	padding: 0 16px;
	border-bottom: 1px solid var(--color-navy);
}

.quiz__results-tabs ul {
	list-style-type: none;
	display: flex;
	gap: 6px;
	margin: 0;
	padding: 0;
}

.quiz__results-tabs ul li {
	margin: 0;
	padding: 0;
}

.quiz__results-tabs ul li button {
	padding: 10px;
	border-color: var(--color-white);
	border-width: 1px 1px 0 1px;
	border-style: solid;
	font-family: "GT Alpina Typewriter";
	font-size: 12px;
	font-weight: 400;
	line-height: 13.64px;
	position: relative;
}

.quiz__results-tabs ul li button.tab.tab--curated {
	background: var(--color-navy-light);
}

.quiz__results-tabs ul li button.tab.tab--all {
	background: var(--color-neutral);
}

.quiz__results-tabs ul li button.tab.tab--is-active {
	border-color: var(--color-navy);
}

.quiz__results-tab-panels .tab-panel {
	display: none;
}

.quiz__results-tab-panels .tab-panel.tab-panel--is-active {
	display: block;
}

.quiz__results-tab-panels .tab-panel.tab-panel--curated {
	background: var(--color-navy-light);
}

.quiz__results-tab-panels .tab-panel.tab-panel--all {
	background: var(--color-neutral);
}

.quiz__results-filters-activities {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
	padding: 20px 16px;
}

.quiz__filters {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
	background: transparent;
}

.toggle__indicator {
	transition: transform 0.3s;
	width: 12px;
	height: 20px;
	background-image: url("../images/icons/arrow-down.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.toggle.toggle--is-open .toggle__indicator {
	transform: rotate(180deg);
}

.toggle__target {
	position: relative;
	height: 0;
	overflow: hidden;
}

.toggle__target.toggle__target--is-open {
	height: auto;
}

.filter-group {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--color-navy);
}

.filter-group__title {
	font-family: "GT Planar";
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}

.filter-group__options {
	position: relative;
}

.filter-group__options .options {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px 0 24px 0;
	max-height: 120px;
	overflow-y: scroll;
}

.filter-group__options .options__title {
	font-family: "GT Planar";
	font-size: 12px;
	font-weight: 500;
	line-height: 13.8px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.filter-group__options .options__title ~ .options__title {
	margin-top: 15px;
}

.filter-group__options .options__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32px;
	pointer-events: none;
}

.quiz__results-tab-panels .tab-panel.tab-panel--curated .filter-group__options .options__overlay {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-navy-light) 70%);
}

.quiz__results-tab-panels .tab-panel.tab-panel--all .filter-group__options .options__overlay {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-neutral) 70%);
}

.filter-group .checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filter-group .checkbox label {
	font-family: "GT Alpina Typewriter";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin: 0;
}

.filter-group .checkbox input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-navy);
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	position: relative;
}

.filter-group .checkbox input[type="checkbox"]::after {
	content: "";
	position: absolute;
}

.filter-group .checkbox input[type="checkbox"]:checked::after {
	left: 4px;
	top: 0px;
	width: 3px;
	height: 8px;
	border: solid black;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.quiz__activities {
	margin-top: 0;
}

.quiz__activities .activity-group {
	margin-bottom: 20px;
	clear: both;
}

.quiz__activities .activity-group__title {
	font-size: 14px;
	line-height: 22px;
	background: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.quiz__activities .bb-activity-tile-title {
	font-size: 20px;
	line-height: 26px;
}

.quiz__activities .button-text {
	font-size: 14px;
}

@media screen and (min-width: 1024px) {
	.quiz__layout--start {
	}

	.quiz__layout--title,
	.quiz__layout--question {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
	}

	.quiz__layout--results {
	}

	.quiz__header {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
		min-height: 140px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.quiz__header .headline {
		grid-column: span 7;
		font-size: 52px;
		font-weight: 500;
		line-height: 80px;
	}

	.quiz__header p {
		grid-column: span 5;
		font-size: 36px;
		font-weight: 300;
		line-height: 41.4px;
		margin: 0;
	}

	.quiz__body {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 0;
	}

	.quiz__summary {
		grid-column: span 6 / 10;
	}

	.quiz__progress {
		grid-column: span 3;
		padding-left: 40px;
	}

	.quiz__card-wrap {
		grid-column: span 6;
	}

	.quiz__card {
		min-height: 420px;
		margin-top: 0;
		padding: 24px;
	}

	.quiz__card .question {
		margin-bottom: 60px;
	}

	.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
		display: none;
	}

	.quiz__results-graphic-summary {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
		margin: 40px 40px 20px 40px;
	}

	.results-graph {
		grid-column: span 5 / 11;
		order: 2;
	}

	.results-summary {
		grid-column: span 3;
		margin: 0;
	}

	.quiz__results-tabs {
		grid-column: span 12;
		padding: 0 40px;
	}

	.quiz__results-tabs ul li button {
		font-size: 14px;
		line-height: 15.92px;
		padding: 15px 20px;
	}

	.quiz__results-tab-panels {
		grid-column: span 12;
	}

	.quiz__results-filters-activities {
		grid-column: span 12;
		grid-template-columns: repeat(12, 1fr);
		gap: 48px;
		padding: 40px;
	}

	.quiz__filters {
		grid-column: span 3;
		margin-top: 48px;
	}

	.toggle__indicator {
		display: none;
	}

	.toggle__target {
		height: auto;
	}

	.filter-group__options .options {
		max-height: none;
		overflow-y: auto;
	}

	.quiz__activities {
		grid-column: span 9;
	}
}

@media screen and (min-width: 1280px) {
	.results-graph {
		grid-column: span 6 / 12;
		order: 2;
	}

	.results-summary {
		grid-column: span 4;
	}

	.quiz__activities .bb-activity-tile-title {
		font-size: 30px;
		line-height: 36px;
	}

	.quiz__activities .button-text {
		font-size: 18px;
	}
}

/* 
@media print {
	@page {
		size: auto;
		margin: 2em;
	}

	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	.quiz__layout--results .quiz__header {
		background-color: var(--color-white);
		color: var(--color-navy);
		min-height: auto;
		border-bottom: 1px solid var(--color-navy);
	}

	.quiz__layout--start .quiz__header .headline,
	.quiz__layout--results .quiz__header .headline {
		color: var(--color-navy);
	}

	.quiz__results-graphic-summary {
		padding: 0;
		border: none;
	}

	.button {
		display: none;
	}

	.quiz__filters {
		display: none;
	}

	.clock-container {
		padding: 45px 0;
	}

	.clock-labels {
		display: block;
	}

	.quiz__activities .w-col {
		width: 100%;
		float: none;
		break-inside: avoid;
	}

	.quiz__activities .w-col .bb-activity-tile-div {
		border: none;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.quiz__activities .w-col .bb-activity-tile-rounded-border {
		border: none;
		padding: 0;
	}
} 
*/
