/**
 * Utilities
 * ============================================================ */

.hidden {
	display: none !important;
}

/**
 * Quiz 
 * ============================================================ */

.quiz {
	--color-navy: #042159;
	--color-purple: #5d62f4;
	--color-purple-light: #dfe0fd;
	--color-white: #fff;
	--color-black: #000;
	--color-error: #c4291c;

	font-family: "GT Planar";
	font-weight: 300;
	color: var(--color-navy);
}

.quiz strong {
	font-weight: 500;
}

.quiz .error p {
	margin: 10px 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 13.8px;
	letter-spacing: 0.05em;
	color: var(--color-error);
}

.quiz__container {
	min-height: 100vh;
}

.quiz__layout {
}

.quiz__layout--start .quiz__header {
	min-height: 420px;
	background: var(--color-navy);
}

.quiz__layout--results .quiz__header {
	min-height: 300px;
	background: var(--color-navy);
}

.quiz__layout--start .quiz__header > *,
.quiz__layout--results .quiz__header > * {
	color: var(--color-purple-light);
}

.quiz__layout--start .quiz__header .headline,
.quiz__layout--results .quiz__header .headline {
	color: var(--color-white);
}

.quiz__header {
	padding: 36px 16px 20px 16px;
}

.quiz__header .headline {
	font-size: 32px;
	font-weight: 500;
	line-height: 36.8px;
	margin: 0;
}

.quiz__header p {
	font-size: 28px;
	font-weight: 300;
	line-height: 32.2px;
	margin: 10px 0;
}

.quiz__body {
	padding: 20px 16px;
}

.quiz__summary .buttons {
	margin-top: 36px;
}

.quiz__progress {
	min-height: 72px;
	text-transform: uppercase;
}

.quiz__progress-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 12px;
	line-height: 13.8px;
	letter-spacing: 0.07em;
}

.quiz__progress-text__inner {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.quiz__progress-bar {
	position: relative;
	width: 182px;
	height: 6px;
	background-color: var(--color-white);
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

.quiz__progress-bar__fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: red;
}

.quiz__card-wrap {
}

.quiz__card {
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
	margin: 24px 0;
	padding: 16px;
}

.quiz__card .question {
	font-size: 18px;
	font-weight: 300;
	line-height: 25.2px;
	margin: 0 0 24px 0;
}

.quiz__card .quiz__card__headline {
	position: relative;
	margin: 0 0 24px 0;
}

.quiz__card .quiz__card__headline .headline {
	display: inline;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
}

.quiz__card .quiz__card__headline svg {
	display: block;
	width: 100%;
	height: 100%;
}

.quiz__card .quiz__card__headline button.info-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: none;
}

.quiz__card .quiz__card__headline button.info-button svg {
	width: 15px;
	height: 15px;
}

.quiz__card .quiz__card__headline button.info-button ~ .blurb-wrap {
	display: none;
	position: absolute;
	min-width: 50%;
	max-width: 100%;
	width: 320px;
	top: calc(100% + 7px);
	right: 0;
	background-color: var(--color-white);
	border: 1px solid var(--color-navy);
}

.quiz__card .quiz__card__headline button.info-button:hover ~ .blurb-wrap,
.quiz__card .quiz__card__headline button.info-button:focus ~ .blurb-wrap {
	display: block;
	padding: 16px 32px 16px 16px;
}

.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 16px;
	right: 16px;
}

.quiz__card .quiz__card__headline .blurb {
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 19.6px;
}

.option-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 24px;
}

.option-group .option {
	display: flex;
	align-items: center;
	gap: 8px;
}

.option-group .option label {
	font-size: 18px;
	font-weight: 300;
	line-height: 25.2px;
	margin: 0;
}

.option-group .option input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-navy);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.option-group .option input[type="radio"]:checked {
	background-color: var(--color-navy);
	box-shadow: inset 0 0 0 4px var(--color-white);
}

.quiz__buttons {
	display: flex;
	gap: 10px;
}

.quiz__button {
	padding: 9px 12px;
	background: var(--color-white);
	border: 1px solid var(--color-navy);
	font-family: "GT Alpina Typewriter";
	font-size: 14px;
	font-weight: 400;
	line-height: 16.02px;
}

.quiz__results {
	padding: 16px;
	overflow: hidden;
	border: 1px solid var(--color-navy);
}

.results-summary {
	margin: 20px 0 0 0;
}

.results-summary .eyebrow {
	font-size: 12px;
	font-weight: 500;
	line-height: 13.73px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: var(--color-purple);
}

.results-summary h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 25.2px;
	margin-top: 0;
}

.results-summary p {
	font-size: 14px;
	font-weight: 300;
	line-height: 19.6px;
}

.quiz__filters {
	margin-top: 24px;
}

.filter-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 24px;
}

.filter-group .checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filter-group .checkbox label {
	font-family: "GT Alpina Typewriter";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin: 0;
}

.filter-group .checkbox input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-navy);
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	position: relative;
}

.filter-group .checkbox input[type="checkbox"]::after {
	content: "";
	position: absolute;
}

.filter-group .checkbox input[type="checkbox"]:checked::after {
	left: 4px;
	top: 0px;
	width: 3px;
	height: 8px;
	border: solid black;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.quiz__activities {
	margin-top: 24px;
}

.quiz__activities .bb-activity-tile-title {
	font-size: 20px;
	line-height: 26px;
}

.quiz__activities .button-text {
	font-size: 14px;
}

/**
 * Result Graph 
 * ============================================================ */

.clock-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.clock {
	--width: 320px;
	--height: var(--width);

	--half-width: calc((var(--width) / 2));
	--min: calc(var(--half-width) / 3);
	--max: var(--half-width);
	--real-width: calc(var(--max) - var(--min));
	--step: calc(var(--real-width) / 11);

	--hand-reach-1: calc(var(--min) + (var(--step) * 0));
	--hand-reach-2: calc(var(--min) + (var(--step) * 1));
	--hand-reach-3: calc(var(--min) + (var(--step) * 2));
	--hand-reach-4: calc(var(--min) + (var(--step) * 3));
	--hand-reach-5: calc(var(--min) + (var(--step) * 4));
	--hand-reach-6: calc(var(--min) + (var(--step) * 5));
	--hand-reach-7: calc(var(--min) + (var(--step) * 6));
	--hand-reach-8: calc(var(--min) + (var(--step) * 7));
	--hand-reach-9: calc(var(--min) + (var(--step) * 8));
	--hand-reach-10: calc(var(--min) + (var(--step) * 9));
	--hand-reach-11: calc(var(--min) + (var(--step) * 10));
	--hand-reach-12: calc(var(--min) + (var(--step) * 11));

	--hand-color-1: #dfe0fd;
	--hand-color-2: #d0dedd;
	--hand-color-3: #fae0da;

	--hand-1-rotation: 120deg;
	--hand-2-rotation: 150deg;
	--hand-3-rotation: 180deg;
	--hand-4-rotation: 210deg;
	--hand-5-rotation: 240deg;
	--hand-6-rotation: 270deg;
	--hand-7-rotation: 300deg;
	--hand-8-rotation: 330deg;
	--hand-9-rotation: 360deg;
	--hand-10-rotation: 390deg;
	--hand-11-rotation: 420deg;
	--hand-12-rotation: 450deg;

	width: var(--width);
	height: var(--height);
	flex: none;
	border-radius: 50%;
	position: relative;
	z-index: 10;
	background: white;
	color: var(--color-navy);
}

.ring {
	position: absolute;
	z-index: 20;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
}

.ring--1 {
	top: 33.333%;
	left: 33.333%;
	width: 33.333%;
	height: 33.333%;
}

.ring--2 {
	top: 16.666%;
	left: 16.666%;
	width: 66.666%;
	height: 66.666%;
}

.ring--3 {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.clock-hands {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 40;
}

.hand {
	width: 50%;
	height: 1px;
	background: #c0c0c0;
	position: absolute;
	z-index: 60;
	top: 50%;
	transform-origin: right center;
}

.hand:hover,
.hand.is--focused {
	z-index: 200;
}

.hand:hover:before,
.hand.is--focused:before {
	border-right-color: var(--color-purple) !important;
}

/* Triangle */
.hand::before {
	content: "";
	position: absolute;
	top: -12px;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right-style: solid;
}

/* Dot */
.hand::after {
	content: "";
	position: absolute;
	z-index: 70;
	top: -4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-navy);
}

.hand[data-hand-reach="1"]::before {
	border-right-width: var(--hand-reach-1);
}
.hand[data-hand-reach="1"]::after {
	right: calc(var(--hand-reach-1) - 3px);
}
.hand[data-hand-reach="2"]::before {
	border-right-width: var(--hand-reach-2);
}
.hand[data-hand-reach="2"]::after {
	right: calc(var(--hand-reach-2) - 3px);
}
.hand[data-hand-reach="3"]::before {
	border-right-width: var(--hand-reach-3);
}
.hand[data-hand-reach="3"]::after {
	right: calc(var(--hand-reach-3) - 3px);
}
.hand[data-hand-reach="4"]::before {
	border-right-width: var(--hand-reach-4);
}
.hand[data-hand-reach="4"]::after {
	right: calc(var(--hand-reach-4) - 3px);
}
.hand[data-hand-reach="5"]::before {
	border-right-width: var(--hand-reach-5);
}
.hand[data-hand-reach="5"]::after {
	right: calc(var(--hand-reach-5) - 3px);
}
.hand[data-hand-reach="6"]::before {
	border-right-width: var(--hand-reach-6);
}
.hand[data-hand-reach="6"]::after {
	right: calc(var(--hand-reach-6) - 3px);
}
.hand[data-hand-reach="7"]::before {
	border-right-width: var(--hand-reach-7);
}
.hand[data-hand-reach="7"]::after {
	right: calc(var(--hand-reach-7) - 3px);
}
.hand[data-hand-reach="8"]::before {
	border-right-width: var(--hand-reach-8);
}
.hand[data-hand-reach="8"]::after {
	right: calc(var(--hand-reach-8) - 3px);
}
.hand[data-hand-reach="9"]::before {
	border-right-width: var(--hand-reach-9);
}
.hand[data-hand-reach="9"]::after {
	right: calc(var(--hand-reach-9) - 3px);
}
.hand[data-hand-reach="10"]::before {
	border-right-width: var(--hand-reach-10);
}
.hand[data-hand-reach="10"]::after {
	right: calc(var(--hand-reach-10) - 3px);
}
.hand[data-hand-reach="11"]::before {
	border-right-width: var(--hand-reach-11);
}
.hand[data-hand-reach="11"]::after {
	right: calc(var(--hand-reach-11) - 3px);
}
.hand[data-hand-reach="12"]::before {
	border-right-width: var(--hand-reach-12);
}
.hand[data-hand-reach="12"]::after {
	right: calc(var(--hand-reach-12) - 3px);
}

.hand[data-hand-color="1"]::before {
	border-right-color: var(--hand-color-1);
}
.hand[data-hand-color="2"]::before {
	border-right-color: var(--hand-color-2);
}
.hand[data-hand-color="3"]::before {
	border-right-color: var(--hand-color-3);
}

.hand--1 {
	transform: rotate(var(--hand-1-rotation));
}

.hand--2 {
	transform: rotate(var(--hand-2-rotation));
}

.hand--3 {
	transform: rotate(var(--hand-3-rotation));
}

.hand--4 {
	transform: rotate(var(--hand-4-rotation));
}

.hand--5 {
	transform: rotate(var(--hand-5-rotation));
}

.hand--6 {
	transform: rotate(var(--hand-6-rotation));
}

.hand--7 {
	transform: rotate(var(--hand-7-rotation));
}

.hand--8 {
	transform: rotate(var(--hand-8-rotation));
}

.hand--9 {
	transform: rotate(var(--hand-9-rotation));
}

.hand--10 {
	transform: rotate(var(--hand-10-rotation));
}

.hand--11 {
	transform: rotate(var(--hand-11-rotation));
}

.hand--12 {
	transform: rotate(var(--hand-12-rotation));
}

.middle-cap {
	position: absolute;
	z-index: 50;
	top: 45%;
	left: 45%;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	background: var(--color-navy);
}

.clock-labels {
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	display: none;
}

.clock-label {
	position: absolute;
	width: 100%;
	height: 17px;
	background: transparent;
	white-space: nowrap;
	text-align: center;
	transform: translate(-50%, -50%);

	font-family: "GT Alpina Typewriter";
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
}

.clock-label--12 {
	top: -5%;
	left: 50%;
	text-align: center;
}

.clock-label--1 {
	top: 3%;
	left: 126%;
	text-align: left;
}

.clock-label--2 {
	top: 22%;
	left: 145%;
	text-align: left;
}

.clock-label--3 {
	top: 50%;
	left: 153%;
	text-align: left;
}

.clock-label--4 {
	top: 78%;
	left: 145%;
	text-align: left;
}

.clock-label--5 {
	top: 97%;
	left: 126%;
	text-align: left;
}

.clock-label--6 {
	top: 105%;
	left: 50%;
	text-align: center;
}

.clock-label--7 {
	top: 97%;
	left: -26%;
	text-align: right;
}

.clock-label--8 {
	top: 78%;
	left: -45%;
	text-align: right;
}

.clock-label--9 {
	top: 50%;
	left: -53%;
	text-align: right;
}

.clock-label--10 {
	top: 22%;
	left: -45%;
	text-align: right;
}

.clock-label--11 {
	top: 3%;
	left: -26%;
	text-align: right;
}

@media screen and (min-width: 1024px) {
	.quiz__layout--start {
	}

	.quiz__layout--title,
	.quiz__layout--question {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
	}

	.quiz__layout--results {
	}

	.quiz__header {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
		min-height: 140px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.quiz__header .headline {
		grid-column: span 7;
		font-size: 52px;
		font-weight: 500;
		line-height: 80px;
	}

	.quiz__header p {
		grid-column: span 5;
		font-size: 36px;
		font-weight: 300;
		line-height: 41.4px;
		margin: 0;
	}

	.quiz__body {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
		padding: 20px 40px;
	}

	.quiz__summary {
		grid-column: span 6 / 10;
	}

	.quiz__progress {
		grid-column: span 3;
	}

	.quiz__card-wrap {
		grid-column: span 6;
	}

	.quiz__card {
		min-height: 420px;
		margin-top: 0;
		padding: 24px;
	}

	.quiz__card .question {
		margin-bottom: 60px;
	}

	.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
		display: none;
	}

	.quiz__results {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
	}

	.results-graph {
		grid-column: span 5 / 11;
		order: 2;
	}

	.results-summary {
		grid-column: span 3;
		margin: 0;
	}

	.clock-container {
		padding: 40px 0;
	}

	.clock {
		--width: 360px;
		--height: var(--width);
	}

	.clock-labels {
		display: block;
	}

	.quiz__filters {
		grid-column: span 3;
	}

	.quiz__activities {
		grid-column: span 9;
	}
}

@media screen and (min-width: 1280px) {
	.quiz__activities .bb-activity-tile-title {
		font-size: 30px;
		line-height: 36px;
	}

	.quiz__activities .button-text {
		font-size: 18px;
	}

	.results-graph {
		grid-column: span 6 / 12;
		order: 2;
	}

	.results-summary {
		grid-column: span 4;
	}

	.clock {
		--width: 400px;
		--height: var(--width);
	}
}

@media print {
	@page {
		size: auto;
		margin: 2em;
	}

	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	.quiz__layout--results .quiz__header {
		background-color: var(--color-white);
		color: var(--color-navy);
		min-height: auto;
		border-bottom: 1px solid var(--color-navy);
	}

	.quiz__layout--start .quiz__header .headline,
	.quiz__layout--results .quiz__header .headline {
		color: var(--color-navy);
	}

	.quiz__body {
		padding-left: 0;
		padding-right: 0;
	}

	.quiz__results {
		padding: 0;
		border: none;
	}

	.button {
		display: none;
	}

	.quiz__filters {
		display: none;
	}

	.clock-container {
		padding: 45px 0;
	}

	.clock-labels {
		display: block;
	}

	.quiz__activities .w-col {
		width: 100%;
		float: none;
		break-inside: avoid; /* Prevent page break inside */
	}

	.quiz__activities .w-col .bb-activity-tile-div {
		border: none;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.quiz__activities .w-col .bb-activity-tile-rounded-border {
		border: none;
		padding: 0;
	}
}
