.bb-activity-tile-div {
	border: 1px solid var(--color-navy);
	background-color: var(--color-white);
	flex-flow: column;
	height: 320px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 5px;
	display: block;
}

.bb-activity-tile-rounded-border {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	border: 1px solid var(--color-navy);
	border-radius: 9px;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-auto-columns: 1fr;
	place-items: start;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: grid;
}

.bb-activity-tile-title {
	color: var(--color-navy);
	font-family: "Gt Planar", sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 36px;
	text-decoration: none;
}

.bb-activity-tile-title:hover,
.bb-activity-tile-title.no-hover:hover {
	text-decoration: none;
}

.bb-tag-text {
	font-family: "Gt Planar", sans-serif;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
}

.bb-tag-text.navy-tag-text {
	color: var(--color-navy);
	display: inline-block;
}

.bb-tag-text.navy-tag-text.block-display {
	display: block;
}
